

.first-courses-section {
    margin-top: 40px;
    padding-left: 80px;
    padding-right: 100px;
    border-bottom: 2px solid #afafaf;
    padding-bottom: 30px;
}
.mini-info {

    display: flex;
    align-items: center;
    justify-content: space-around;
}

span {

    font-size: small;
}

.group-one-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 27px;
    padding-top: 10px;
}

.slick-slide > div {

    margin: 0 10px;
}
.slick-list {

    margin: 0  -10px;
}

.Card {

    height: 200px;
    width: 18rem;
}


.All-Card {

    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start; */
    column-gap: 70px;
    row-gap: 30px;
    margin-top: 20px;

}


@media screen and (min-width: 601px) and (max-width: 800px) {

      .All-Card {
        column-gap: 70px;

      }
}